*{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
@media only screen and (max-width: 600px){
    .winners .container .row{
        display: flex;
        flex-direction: column;
        margin-top: 250px;
        margin-left: 40%;
        height: 320px;
    }
    .logo-container img{
        margin-top: 30%;
        width: 350px;
    }

    .main-heading h1{
        font-weight: bolder;
        font-size: 30px;
        line-height: 58px;
        color: #FFFFFF;
        text-align: center;
    }
}
@media only screen and (min-width: 600px) {
    .winners .container {
        margin-top: 240px;
    }
    .winners .container .row{
        margin-left: 30%;
        display: flex;
        flex-direction: row;
    }
    .logo-container img{
        margin-top: 14%;
        width: 600px;
    }
    
    .main-heading h1{
        font-weight: bold;
        font-size: 60px;
        line-height: 90px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 4%;
    }
}
@media only screen and (min-width: 992px) {
    .winners .container {
        margin-top: 340px;
    }
    .winners .container .row{
        margin-top: 300px;
        margin-left: 12.8%;
    }
}
html, body {
    overflow-x:hidden;
    background-color: black;
}
body{
    background-image: url('./Images/bg.png');
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    width: 100%;
}
.navbar-brand img {
    padding: 10px;
    width: 160px;
    height: 48px;
}
nav{
    background-color:rgb(0, 0, 0);
    position: fixed;
}
.hero {
    position: relative;
    background-image: url("./Images/pexels-max-deroin-51415.jpg");
    background-repeat: no-repeat;
    height: 720px;
    max-width: 100%;
    background-size: cover;
}
.about .container .row .col{
    text-align: center;
    background-color: rgba(27, 179, 95, 0.75);
    height: 400px;
    margin: 3%;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
}
.about .container .row .col:hover{
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
}
.about .container .row .col:hover .overlay{
    transform: scale(4) translateZ(0);
}
.about .container .row .col h2 , .about .container .row .col p{
    color: white;
}
.themes .container .row .col-lg{
    margin: 3%;
}
.themes .container .row .col-lg img{
    width: 250px;
    height: 250px;
}


.card  {
    position: absolute;
    transform: translate(-50%,-50%);
    background: black;
    overflow: hidden;
}
.card  h1{
    margin-top: 1.2rem;
    margin-left: 1.2rem;
    color: white;
}
.card .imgBx,
.card .details {
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    transition: .5s;
}
.card {
    width: 300px;
    height: 400px;
}
.card .imgBx {
    top: 0;
    left: 0;
}
.card:hover .imgBx {
    top: 0;
    left: -100%;
}
.card .imgBx img {
    width: 100%;
}
.card .details {
    background: black;
    top: 0;
    left: 100%;
    padding: 60px 30px;
}
.card:hover .details {
    top: 0;
    left: 0%;
}

.card .details h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 2px solid #fff;

}
.card .details p {
    margin: 20px 0 0;
    color: #fff;
}
.aftermovie  {
    margin-top: 20%;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
}
.aftermovie .container{
    margin-top: 10%;
    margin-left: 15%;
}
.aftermovie .container iframe{
    position: absolute;
    width: 70%;
    height: 70%;
}
/* sponsors 2021 */
.sponsors1{
    margin-top: 10%;
}
.sponsors1 .row{
    margin-top: 10%;
}
.slider{
    width: 90%;
    height: 300px;
    overflow :hidden;
    position: relative;
    margin: auto;
    margin-bottom: 10%;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.5);
}

.slider::before,.slider::after{
    content:'';
    position : absolute;
    width: 200px;
    height: 300px;
    z-index: 2;
}
.slider::before{
    top: 0;
    left: 0;
}
.slider::after{
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.slider .slider-track{
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s infinite linear;
}
.slider section{
    background-color: rgba(0, 0, 0 ,0);
}
.slider .slide img{
    width: 300px;
    height: 300px;
}
@keyframes scroll {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(calc(-250px * 7));
    }
}
/* sponsors 2020 */
.sponsors2{
    margin-top: 10%;
}
.sponsors2 .container .row{
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10%;
}

.come{
    background-color: rgb(0, 0, 0);
}
/* footer */
footer{
    background: linear-gradient(0deg, rgba(50,224,117,1) 0%, rgba(27,179,95,1) 0%, rgba(34,159,90,1) 7%, rgba(0,0,0,1) 100%);
}
.list-quick-links li a{
    color: white;
}
.list-quick-links li {
    list-style-type: none;
}
.social-text-center {
    width: 30%;
    display: flex;
    flex-direction: row;
    float: right;
    justify-content: space-between;
    margin-bottom: 10%;
}
.social-text-center li a{
    color: white;
}
.social-text-center li{
    list-style-type: none;
}

/* preloader */
#preloader {
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.preloader img{
    margin-left:47%;
    margin-top:25%;
    width: 100px;
    height: 100px;
}
/*typing animation*/
.console-container {
    position:absolute;
    font-family:'Courier New', Courier, monospace;
    font-style:normal;
   font-weight: bold;
   font-size: 35px;
   top:130%;
   left: 50%;
   justify-content: center;
    transform: translate(-50%, -50%);
   }
   #text{
       background-color:rgb(53, 51, 47); opacity:75%;
   }
   .console-underscore {
    display:inline;
    position: relative;
    color: white;
   }
   
   .logo-container {
    position: relative;
    text-align: center;
   }

