*{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
html, body {
    overflow-x:hidden;
    background-color: black;
}

#i1 ,#i2 ,#i3 , #i4 , #i5 , #i6{
    width: 250px;
    height: 250px;
    margin-left: 10%;
    padding: 2%;
    }
    

    .logo-cont img {
        padding: 10px;
        width: 220px;
        height: 66px;
    }
    
    .li-cont ul{
        display : flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: right;
        list-style: none;
        float: right;
    }
    .li-cont ul li p{
        color: white;
        text-decoration: none;
        padding: 10px;
    }
    .li-cont ul li{
        text-decoration:  none;
        padding: 10px;
        color: white;
    }
    .li-cont{
        align-items: right;
    }
    .nav-cont{
        position: static;
        display: flex;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.3);
        height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .nav-cont .icon {
        display: none;
        color: rgba(0, 0, 0, 0.3);
      }
      #bars{
          margin-top: 1rem;
          cursor: pointer; 
          margin-left: 70%;
      }
      button{
          cursor: pointer;
          border: 1px solid transparent;
          background-color: transparent;
      }
      
    
    @media only screen and (max-width: 600px) {
        .console-container{
            margin-top: 75%;
        }
        .mail-sm{
            margin-left: 0%;
        }
        .sponsors-20{
            margin-top: 35%;
            height: 620px;
        }
        .spo-r1 , .spo-r2{
            height: 180px;
        }
        #sp1
            {
                position: absolute;
                width: 0px;
                height: 0px;
                left: 15px;
                margin-top: 122%;
                top: 180px;
            }
            #sp2
            {
                position: absolute;
                width: 105px;
                height: 105px;
            left: 15px;
            top: 180px;
            margin-top:124%;
            }
            #sp3
            {
                position: absolute;
                width: 115px;
                height: 115px;
            left: 140px;
            top: 180px;
            margin-top:122%;
            }
            #sp4
            {
                position: absolute;
                width: 0px;
                height: 0px;
            left: 200px;
            top: 180px;
            margin-top: 120%;
            }
            #sp5
            {
                position: absolute;
                width: 150px;
                height: 150px;
                left: 600px;
                top: 180px;
            margin-top: 120%;
            }
            #sp6
            {
                position: absolute;
                width: 150px;
                height: 150px;
                left: 280px;
                top: 180px;
            margin-top: 120%;
            }
            #sq1{
                position: absolute;
                width: 130px;
                height: 130px;
                left: 60px;
                top: 180px;
                margin-top: 1387%;
            }
            #sq2{
                position: absolute;
                width: 180px;
                height: 180px;
            left: 35px;
            top: 180px;
            margin-top:1400%;
            }
            #sq3{
                position: absolute;
                width: 135px;
                height: 135px;
                left: 5%;
                top: 180px;
                margin-top: 165%;
            }
            #sq4{
                position: absolute;
                width: 90px;
                height: 90px;
                left: 40%;
                top: 180px;
            margin-top: 167%;
            }
            #sq5{
                position: absolute;
                width: 0px;
                height: 0px;
                left: 63%;
                top: 180px;
            margin-top:137%;
            }
            #sq6{
                position: absolute;
                width: 90px;
                height: 90px;
                left: 63%;
                top: 180px;
            margin-top: 165%;
            }

        .card2-1{
            height: 420px;
             width: 200px;
        }
        .card-row{
            margin-top: 1%;
        }
        .card2-1{
            margin: 10%;
        }
        .card-row1 {
            margin-left: 3%;
        }
        .card-row2 {
            margin-left: 3%;
        }
        .aftermovie{
            margin-top: 96%;
        }
        .overview img{
            width: 200px;
            height: 200px;
          }
        .overview-row{
            margin-top: -20%;
            display: flex;
            flex-direction: column;
            margin-left: 5%;
         }
        .nav-down a svg{
            margin-left: 5%;
            margin-bottom: 8%;
        }
        .card{
            width: 300px;
            height: 400px;
        }
        #card1 {
            top: 49.8%;
            margin-left: 40%;
        }
        #card2{
            top: 54.6%;
            margin-left: 40%;
        }
        #card3{
            top: 59.6%;
            margin-left: 40%;
        }
        .win-cont{
            height: 2000px;
        }
        .social-text-center {
            width: 30%;
            float: center;
            margin-left: 33%;
        }
        .container{
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }
        .nav-down{
            margin-top: 33rem;
            margin-left: 10rem;
        }
        .winners{
            height: 1800px;
        }
        #aftermovie{
            height: 464px;
        }
        #th1 ,#th3 ,#th2 {
            font-size: 23px;
            margin-left: 1rem;
        }
        
       #tp1 ,  #tp3 ,#tp2{
           margin-left: 1rem;
       }
        #coming1{
            width: 200px;
            height: 40px;
            left: 2rem;
            top: 10px;
        }
        #s1{
            position: absolute;
            width: 208px;
            height: 142px;
            left: 5rem;
        }
            
            #s2{
                position: absolute;
                width: 208px;
                height: 142px;
                top:220px;
                left: 5rem;
            }
            
            #s3{
                position: absolute;
                width: 208px;
                height: 142px;
                top:340px;
                left: 5rem;
            }
            
            #s4{
            position: absolute;
            width: 229px;
            height: 20px;
            top: 490px;
            left: 5rem;
            }
            
            #s5{
            position: absolute;
            width: 300px;
            height: 32px;
            top: 580px;
            left: 1.5rem;
            }
            
            #s6{
            position: absolute;
            width: 208px;
            height: 142px;
            top: 640px;
            left: 5rem;
            }
            
            #s7{
            position: absolute;
            width: 180px;
            height: 180px;
            top: 750px;
            left: 5rem;
            }
            
            #s8{
                position: absolute;
                width: 208px;
                height: 142px;
                top: 960px;
                left: 4.4rem;
            }
            #come{
                height: 241px;
                margin-top: 6rem;
            }
        
        .row0 , .row1{
            display: flex;
            flex-direction: column;
        }.col1{
            padding: 0px;
            margin-left: 0px;
        }
        .about{
            width: 100%;
            height: 2024px;
        }
        .abhead , #w , #th ,#t ,#rewind , #spo ,#coming ,#win-title{
            font-weight: bolder;
            font-size: 30px;
            line-height: 58px;
            color: #FFFFFF;
            margin-left: 5%;
            margin-top: 4%;
            }
        .li-cont{ display:none;}
        .nav-cont .icon{float: right; display: block;}
        .nav-cont.responsive .icon{position: absolute;
            right: 0;
            top: 0;}
            .nav-cont.responsive{position:relative;}
        .nav-cont{float :none;  text-align: left;}
        .nav-cont .icon{padding: 20px;}
        
#img1{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 15%;
    margin-top: 10%;
    }
    #win1 {
        position: absolute;
        width: 240px;
        height: 300px;
        left: 100px;
        top: 261px;
        background: rgba(27, 179, 95, 0.4);
        }
        #win2{
            position: absolute;
            width: 240px;
            height: 300px;
            left: 41px;
            top: 742px;
            background: rgba(27, 179, 95, 0.4);
            }
        #win3{
                position: absolute;
                width: 240px;
                height: 300px;
                left: 100px;
                top: 1228px;
                background: rgba(27, 179, 95, 0.4);
             }
             #w1{
                position: absolute;
                width: 200px;
                height: 200px;
                left: 42px;
                top: 161px;
                background: #FFFFFF;
                }
                
                #w2{
                position: absolute;
                width: 200px;
                height: 200px;
                left: 127px;
                top: 642px;
                background: #FFFFFF;
                }
                
                #w3{
                position: absolute;
                width: 200px;
                height: 200px;
                left: 42px;
                top: 1128px;
                background: #FFFFFF;
                }
    }
    @media only screen and (min-width: 600px){
        #sp1
        {
            position: absolute;
            width: 105px;
            height: 105px;
            left: 15px;
            margin-top: 64%;
            top: 180px;
        }
        #sp2
        {
            position: absolute;
            width: 105px;
            height: 105px;
        left: 95px;
        top: 180px;
        margin-top:64%;
        }
        #sp3
        {
            position: absolute;
            width: 125px;
            height: 125px;
        left: 200px;
        top: 180px;
        margin-top:62%;
        }
        #sp4
        {
            position: absolute;
            width: 135px;
            height: 135px;
        left: 330px;
        top: 180px;
        margin-top: 62%;
        }
        #sp5
        {
            position: absolute;
            width: 120px;
            height: 120px;
            left: 470px;
            top: 180px;
        margin-top: 62%;
        }
        #sp6
        {
            position: absolute;
            width: 130px;
            height: 130px;
            left: 600px;
            top: 180px;
        margin-top: 62%;
        }
        #sq1{
            position: absolute;
            width: 100px;
            height: 100px;
            left: 20px;
            top: 180px;
            margin-top: 90%;
        }
        #sq2{
            position: absolute;
            width: 120px;
            height: 120px;
        left: 125px;
        top: 180px;
        margin-top:90%;
        }
        #sq3{
            position: absolute;
            width: 135px;
            height: 135px;
            left: 35%;
            top: 180px;
            margin-top: 90%;
        }
        #sq4{
            position: absolute;
            width: 90px;
            height: 90px;
            left: 54%;
            top: 180px;
        margin-top: 90%;
        }
        #sq5{
            position: absolute;
            width: 135px;
            height: 135px;
            left: 70%;
            top: 180px;
        margin-top: 90%;
        }
        #sq6{
            position: absolute;
            width: 90px;
            height: 90px;
            left: 90%;
            top: 180px;
        margin-top: 89%;
        }
        .mail-sm{
            margin-left: 72%;
        }
        .sponsors-20{
            height: 600px;
        }
        .spo-r1 , .spo-r2{
            height: 200px;
        }
        .card2-1{
            height: 420px;
             width: 200px;
        }
        .card-row1 ,.card-row2{
            display: flex;
            flex-direction: row;
        }
        .card-row{
            margin-top: 1%;
        }
        .card2-1{
            margin: 10%;
        }
        .card-row1 {
            margin-left: 3%;
        }
        .card-row2 {
            margin-left: 3%;
        }
        .aftermovie{
            margin-top: 96%;
        }
        .overview img{
            width: 280px;
            height: 280px;
          }
        .overview-row{
            margin-top: -10%;
            display: flex;
            flex-direction: column;
            margin-left: 10%;
         }
        .nav-down a svg{
            margin-left: 50%;
            margin-top: 80%;
        }
        .card{
            width: 300px;
            height: 400px;
        }
        #card1 {
            top: 40%;
            margin-left: 40%;
        }
        #card2{
            top: 45.31%;
            margin-left: 40%;
        }
        #card3{
            top: 50.6%;
            margin-left: 40%;
        }
        .win-cont{
            height: 2000px;
        }
        .social-text-center {
            width: 30%;
            float: right;
        }
        .winners{
            height: 1400px;
        }
        .container{
            display: flex;
            flex-direction: column;
            
        }
        
        #aftermovie{
            height: 564px;
        }
        #th1 ,#th3 ,#th2 {
            font-size: 25px;
            margin-left: 1rem;
        }
        
       #tp1 ,  #tp3 ,#tp2{
           margin-left: 1rem;
       }
        
        #come{
            height: 341px;
        }
        #s1{
            position: absolute;
            width: 208px;
            height: 142px;
            left: 46px;
            top: 285px;
            }
            
            #s2{
                position: absolute;
                width: 208px;
                height: 142px;
                left: 254px;
                top: 267px;
            }
            
            #s3{
                position: absolute;
                width: 208px;
                height: 142px;
                left: 472px;
                top: 264px;
            }
            
            #s4{
            position: absolute;
            width: 229px;
            height: 20px;
            left: 60px;
            top: 555px;
            }
            
            #s5{
            position: absolute;
            width: 330px;
            height: 32px;
            left: 308px;
            top: 545px;
            }
            
            #s6{
            position: absolute;
            width: 208px;
            height: 142px;
            left: 76px;
            top: 696px;
            }
            
            #s7{
            position: absolute;
            width: 180px;
            height: 180px;
            left: 262px;
            top: 667px;
            }
            
            #s8{
                position: absolute;
                width: 208px;
                height: 142px;
                left: 380px;
                top: 684px;
            }
        .row0 , .row1{
            display: flex;
            flex-direction: column;
        }.col1{
            padding: 0px;
            margin-right: 2rem;
        }
        
        #bars{
            display: none;
        }
        #win1 {
            position: absolute;
            width: 500px;
            height: 200px;
            left: 181px;
            top: 200px;
            background: rgba(27, 179, 95, 0.4);
            }
            #win2{
                position: absolute;
                width: 500px;
                height: 200px;
                left: 51px;
                top: 653px;
                background: rgba(27, 179, 95, 0.4);
                }
            #win3{
                    position: absolute;
                    width: 500px;
                    height: 200px;
                    left: 181px;
                    top: 1170px;
                    background: rgba(27, 179, 95, 0.4);
                 }
                 #w1{
                    position: absolute;
                    width: 240px;
                    height: 240px;
                    left: 62px;
                    top: 161px;
                    background: #FFFFFF;
                    }
                    
                    #w2{
                    position: absolute;
                    width: 240px;
                    height: 240px;
                    left: 417px;
                    top: 612px;
                    background: #FFFFFF;
                    }
                    
                    #w3{
                    position: absolute;
                    width: 240px;
                    height: 240px;
                    left: 64px;
                    top: 1128px;
                    background: #FFFFFF;
                    }
#img1{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 20%;
    margin-top: 10%;
    }
    
    .about{
        width: 100%;
        height: 1200px;
    }
        .li-cont ul li{
            align-items: right;
            color: white;
        }
        
        .li-cont{ 
            margin-left: 10%;
        }
        .abhead , #w ,#th ,#t,#rewind , #spo ,#coming ,#win-title{
            font-weight: bolder;
            font-size: 40px;
            line-height: 70px;
            color: #FFFFFF;
            margin-left: 8%;
            margin-top: 4%;
            }
            #coming1{
                width: 217px;
                height: 40px;
                left: 200px;
                top: 55px;
            }
            
    }
    @media only screen and (min-width: 768px){
        .console-container{
            margin-top: 60%;
        }
        .mail-sm{
            margin-left: 50%;
        }
        .sponsors-20{
            height: 700px;
        }
        .spo-r1 , .spo-r2{
            height: 240px;
        }
        #sp1
            {
                position: absolute;
                width: 150px;
                height: 150px;
                left: 35px;
                top: 180px;
                margin-top: 46%;
            }
            #sp2
            {
                position: absolute;
                width: 160px;
                height: 160px;
            left: 20rem;
            top: 180px;
            margin-top:45.8%;
            }
            #sp3
            {
                position: absolute;
            width: 140px;
            height: 140px;
            left: 35%;
            top: 180px;
            margin-top: 46%;
            }
            #sp4
            {
                position: absolute;
                width: 150px;
                height: 150px;
                left: 48%;
                top: 180px;
                margin-top: 47%;
            }
            #sp5
            {
                position: absolute;
                width: 150px;
                height: 150px;
                left: 63%;
                top: 180px;
            margin-top: 46.7%;
            }
            #sp6
            {
                position: absolute;
                width: 150px;
                height: 150px;
                left: 79%;
                top: 180px;
            margin-top: 47%;
            }
            #sq1{
                position: absolute;
                width: 150px;
                height: 150px;
                left: 35px;
                top: 180px;
                margin-top: 68%;
            }
            #sq2{
                position: absolute;
                width: 180px;
                height: 180px;
            left: 20rem;
            top: 180px;
            margin-top: 67%;
            }
            #sq3{
                position: absolute;
                width: 135px;
                height: 135px;
                left: 39%;
                top: 180px;
                margin-top: 69%;
            }
            #sq4{
                position: absolute;
                width: 125px;
                height: 125px;
                left: 53%;
                top: 180px;
            margin-top: 69.4%;
            }
            #sq5{
                position: absolute;
                width: 120px;
                height: 120px;
                left: 68%;
                top: 180px;
            margin-top: 69%;
            }
            #sq6{
                position: absolute;
                width: 120px;
                height: 120px;
                left: 85%;
                top: 181px;
            margin-top: 68%;
            }
        .card2-1{
            height: 350px;
             width: 180px;
        }
        .card-row1 ,.card-row2{
            display: flex;
            flex-direction: row;
        }
        .card-row{
            margin-top: 1%;
        }
        .card2-1{
            margin: 10%;
        }
        .card-row1 {
            margin-left: 3%;
        }
        .card-row2 {
            margin-left: 3%;
        }
        .aftermovie{
            margin-top: 0%;
        }
        .overview img{
            width: 200px;
            height: 200px;
          }
        .overview-row{
            display: flex;
            flex-direction: row;
         }
        .nav-down a svg{
            margin-left: 5%;
            margin-top: 3%;
        }
        .iframe-container{
            margin: 12%;
        }
        .iframe-container iframe{
            width: 70%;
            height: 70%;
        }
        .card{
            width: 240px;
            height: 360px;
        }
        .win-row{
            display: flex;
            flex-direction: row;
        }
        #card1 {
            top: 47%;
            margin-left: 20%;
        }
        #card2{
            top:47%;
            margin-left: 50%;
        }
        #card3{
            top: 47%;
            margin-left: 80%;
        }
        .win-cont{
            height: 720px;
        }
        .social-text-center {
            float: left;
        }
        .social-text-center li a{
            margin-left: 0px;
            padding: 1rem;
        }
        .nav-down{
            margin-left: 45%;
            margin-top: 51%;
        }
        .winners{
            height: 1400px;
        }
        .container{
            display: flex;
            flex-direction: row;
        }
        #aftermovie{
            height: 824px;
        }
        #th1 ,#th3 ,#th2 {
            font-size: 30px;
            margin-left: 1rem;
        }
        
       #tp1 ,  #tp3 ,#tp2{
           margin-left: 1rem;
           font-size: 15px;
       }
        .row{
            display: flex;
            flex-direction: row;
        }.col1{
            padding: 0px;
            margin: 0px;
        }
        .cprt {
            margin-left: -400%;
            margin-top: 300%;
        }
#win1 {
    position: absolute;
    width: 500px;
    height: 200px;
    left: 221px;
    top: 261px;
    background: rgba(27, 179, 95, 0.4);
    }
    #win2{
        position: absolute;
        width: 500px;
        height: 200px;
        left: 61px;
        top: 712px;
        background: rgba(27, 179, 95, 0.4);
        }
    #win3{
            position: absolute;
            width: 500px;
            height: 200px;
            left: 221px;
            top: 1228px;
            background: rgba(27, 179, 95, 0.4);
         }
         #w1{
            position: absolute;
            width: 300px;
            height: 300px;
            left: 62px;
            top: 161px;
            background: #FFFFFF;
            }
            
            #w2{
            position: absolute;
            width: 300px;
            height: 300px;
            left: 407px;
            top: 612px;
            background: #FFFFFF;
            }
            
            #w3{
            position: absolute;
            width: 300px;
            height: 300px;
            left: 64px;
            top: 1128px;
            background: #FFFFFF;
            }
        .li-cont{ 
            margin-left: 20%;
        }
       
        .abhead ,#w ,#th, #t ,#rewind , #spo ,#coming ,#win-title{
            font-weight: bolder;
            font-size: 60px;
            line-height: 80px;
            color: #FFFFFF;
            margin-left: 10%;
            }
        
#img1{
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 30%;
    margin-top: 5%;
    }
    .about{
        width: 100%;
        height: 1300px;
    }
    #come{
        height: 441px;
    }
    #s1{
        position: absolute;
        width: 228px;
        height: 122px;
        left: 96px;
        top: 285px;
        }
        
        #s2{
            position: absolute;
            width: 228px;
            height: 122px;
            left: 320px;
            top: 267px;
        }
        
        #s3{
            position: absolute;
            width: 228px;
            height: 122px;
            left: 562px;
            top: 264px;
        }
        
        #s4{
        position: absolute;
        width: 270px;
        height: 25px;
        left: 150px;
        top: 555px;
        }
        
        #s5{
        position: absolute;
        width: 280px;
        height: 52px;
        left: 478px;
        top: 545px;
        }
        
        #s6{
        position: absolute;
        width: 298px;
        height: 162px;
        left: 106px;
        top: 696px;
        }
        
        #s7{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 402px;
        top: 657px;
        }
        
        #s8{
            position: absolute;
            width: 290px;
            height: 140px;
            left: 530px;
            top: 684px;
        }
        #coming1{
            width: 317px;
            height: 56px;
            left: 390px;
            top: 120px;
        }
    }
    #dropdown{ display: none;}
.landingpage{
position: relative;
background-image: url("./Images/pexels-max-deroin-51415.jpg");
background-repeat: no-repeat;
max-width: 100%;
background-size: cover;

    }
    #th1 , #th2 , #th3 ,#tp1 , #tp2 , #tp3{
        color: white;
    }
    @media only screen and (min-width: 1200px) {
        .console-container{
            margin-top: 60%;
        }
        .mail-sm{
            margin-left: 70%;
        }
        .sponsors-20{
            height: 900px;
        }
        .spo-r1 , .spo-r2{
            height: 300px;
        }
        #sp1
            {
                position: absolute;
                width: 150px;
                height: 150px;
                left: 48px;
                top: 302px;
                margin-top: 35%;
            }
            #sp2
            {
                position: absolute;
            width: 180px;
            height: 193px;
            left: 254px;
            top: 277px;
            margin-top: 35%;
            }
            #sp3
            {
                position: absolute;
            width: 150px;
            height: 150px;
            left: 496px;
            top: 302px;
            margin-top: 35%;
            }
            #sp4
            {
                position: absolute;
            width: 200px;
            height: 200px;
            left: 686px;
            top: 277px;
            margin-top: 35%;
            }
            #sp5
            {
                position: absolute;
            width: 200px;
            height: 200px;
            left: 926px;
            top: 270px;
            margin-top: 35%;
            }
            #sp6
            {
                position: absolute;
            width: 200px;
            height: 200px;
            left: 1166px;
            top: 260px;
            margin-top: 35%;
            }
            #sq1{
                position: absolute;
            width: 150px;
            height: 150px;
            left: 85px;
            top: 591px;
            margin-top: 35%;
            }
            #sq2{
                position: absolute;
                width: 200px;
                height: 200px;
                left: 283px;
                top: 571px;
                margin-top: 35%;
            }
            #sq3{
                position: absolute;
            width: 200px;
            height: 200px;
            left: 545px;
            top: 571px;
            margin-top: 35%;
            }
            #sq4{
                position: absolute;
            width: 130px;
            height: 140px;
            left: 808px;
            top: 601px;
            margin-top: 35%;
            }
            #sq5{
                position: absolute;
                width: 200px;
            height: 200px;
            top: 576px;
            left: 996px;
            margin-top: 35%;
            }
            #sq6{
                position: absolute;
            width: 100px;
            height: 93px;
            left: 1252px;
            top: 619px;
            margin-top: 35%;
            }

        .card2-1{
            height: 400px;
             width: 250px;
        }
        .card-row ,.card-row1 ,.card-row2{
            display: flex;
            flex-direction: row;
        }
        .card-row{
            margin-top: 5%;
        }
        .card2-1{
            margin: 4%;
        }
        .card-row1 {
            margin-left: 10%;
        }
        .card-row2 {
            margin-left: -8%;
        }
        .overview img{
            width: 270px;
            height: 270px;
          }
         .overview-row{
            display: flex;
            flex-direction: row;
            margin-left: 12%;
         }
        .nav-down a svg{
            margin-left: 5%;
            margin-bottom: 8%;
        }
        .iframe-container iframe{
            width: 70%;
            height: 70%;
        }
        .iframe-container{
            margin: 12%;
        }
        .card{
            width: 300px;
            height: 400px;
        }
        #card1 {
            top: 42%;
            margin-left: 20%;
        }
        #card2{
            top: 42%;
            margin-left: 50%;
        }
        #card3{
            top: 42%;
            margin-left: 80%;
        }
        .win-cont{
            height: 900px;
        }
        .social-text-center {
            width: 60%;
            float: left;
        }
        .social-text-center li a{
            padding: 1.2rem;
        }
        .cprt{
            float: center;
            
        }
        #img1{
            position: absolute;
            width: 600px;
            height: 600px;
            margin-left: 30%;
            margin-top: 5%;
            }
        .nav-down{
            margin-left: 45%;
            margin-top: 58%;
        }
        .container{
            display: flex;
            flex-direction: column;
        }
        .row0 , .row1 , .row2{
            display: flex;
            flex-direction: row;
        }
        #th1 ,#th3 ,#th2 {
            font-size: 45px;
            margin-left: 1rem;
        }
        
       #tp1 ,  #tp3 ,#tp2{
           margin-left: 1rem;
           font-size: 25px;
       }
        #come{
            height: 500px;
        }
        #s1{
            position: absolute;
            width: 328px;
            height: 182px;
            left: 96px;
            top: 285px;
            }
            
            #s2{
                position: absolute;
                width: 328px;
                height: 182px;
                left: 514px;
                top: 267px;
            }
            
            #s3{
                position: absolute;
                width: 328px;
                height: 182px;
                left: 932px;
                top: 264px;
            }
            
            #s4{
            position: absolute;
            width: 409px;
            height: 31.94px;
            left: 250px;
            top: 555px;
            }
            
            #s5{
            position: absolute;
            width: 430px;
            height: 72px;
            left: 778px;
            top: 519px;
            }
            
            #s6{
            position: absolute;
            width: 328px;
            height: 182px;
            left: 156px;
            top: 696px;
            }
            
            #s7{
            position: absolute;
            width: 300px;
            height: 300px;
            left: 592px;
            top: 637px;
            }
            
            #s8{
                position: absolute;
                width: 328px;
                height: 182px;
                left: 960px;
                top: 684px;
            }
            
        .row{
            display: flex;
            flex-direction: row;
        }.col{
            padding: 0px;
            margin-left: 0px;
        }
        .landingpage{
            height: 1024px;
        }
        .li-cont{ 
            margin-left: 50%;
        }
        
        .abhead , #w , #th ,#t ,#rewind , #spo ,#coming , #win-title {
            font-weight: bold;
            font-size: 70px;
            line-height: 110px;
            color: #FFFFFF;
            margin-left: 20%;
            margin-top: 4%;
        }
        .about{
            width: 100%;
            height: 924px;
        }
        
#win1 {
    position: absolute;
    width: 1000px;
    height: 300px;
    left: 377px;
    top: 261px;
    background: rgba(27, 179, 95, 0.4);
    }
    #win2{
        position: absolute;
        width: 1000px;
        height: 300px;
        left: 51px;
        top: 712px;
        background: rgba(27, 179, 95, 0.4);
        }
    #win3{
            position: absolute;
            width: 1000px;
            height: 300px;
            left: 381px;
            top: 1228px;
            background: rgba(27, 179, 95, 0.4);
         }
         #w1{
            position: absolute;
            width: 400px;
            height: 400px;
            left: 62px;
            top: 161px;
            background: #FFFFFF;
            }
            
            #w2{
            position: absolute;
            width: 400px;
            height: 400px;
            left: 977px;
            top: 612px;
            background: #FFFFFF;
            }
            
            #w3{
            position: absolute;
            width: 400px;
            height: 400px;
            left: 64px;
            top: 1128px;
            background: #FFFFFF;
            }
            #coming1{
                width: 317px;
                height: 56px;
                left: 590px;
                top: 215px;
            }
            #aftermovie{
                height: 1024px;
            }
        
      }
      @media only screen and (max-width: 1200px) {
        .landingpage{
            height: 700px;
        }
  }

.about{
    position: relative;
}

.winners{
    position: relative;
    width: 100%;
}

.abhead{
    margin-left: 0%;
}
.overview{
    position: relative;
    width: 1440px;
    height: 512px;
}

.theme{
    position: relative;
    width: 100%;
    
}

.spo-container{
    position: relative;
    width: 100%;
}

.aftermovie{
    position: relative;
    width: 100%;
}

.come{
    background-color: black;
    position: relative;
    width: 100%;
}

body{
    background-image: url('./Images/bg.png');
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    width: 100%;
}


h1,h2{
    color: white;
}

#n1{
position: absolute;
left: 432px;
top: 5px;
color: #FFFFFF;
}

#n2{
position: absolute;
left: 590px;
top: 5px;
color: #FFFFFF;
}

#n3{
position: absolute;
left: 728px;
top: 5px;
color: #FFFFFF;
}

#n4{
position: absolute;
left: 914px;
top: 5px;
color: #FFFFFF;
}

#n5{
position: absolute;
left: 1107px;
top: 5px;
color: #FFFFFF;
}

#n6{
position: absolute;
left: 1277px;
top: 5px;
color: #FFFFFF;
}


#coming1{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    color: #1BB35F;
}
#coming1 h3{
    padding: 2%;
}

.come img{
    width: 200px;
    margin-left: 30%;
}
.last_box{
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0px;
    top: 574px;
    padding: 30px;
    background:  rgba(27, 179, 95, 1);
    
}
#img_last
    {
    
    width: 247px;
    height:247px; 
    }
    
#last_abt
    {
    
    width: 526px;
    height: 175px;
    left: 76px;
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    
    color: #FFFFFF;
    }
    section{
        background: rgb(50,224,117);
background: linear-gradient(0deg, rgba(50,224,117,1) 0%, rgba(27,179,95,1) 0%, rgba(34,159,90,1) 7%, rgba(0,0,0,1) 100%);
    }
    h5{
        margin-top: 2rem;
        padding: 1rem;
        color: white;
    }

    a:link{
        color: white;
        text-decoration: none;
    }
    .list-quick-links li a{
        color: white;
    }
    .list-quick-links li {
        list-style-type: none;
    }
    a:hover {
        color: rgb(198, 219, 193);
        text-decoration: none;
    }
    .social-text-center {
        display: flex;
        flex-direction: row;
        margin-bottom: 10%;
    }
    .social-text-center li a{
        color: white;
    }
    .social-text-center li{
        list-style-type: none;
    }
    .hide{
        overflow: hidden;
    }
    .hide span{
        transform: translateY(100%);
        display: inline-block;
    }
    .card {
        position: absolute;
        top: 48%;
        transform: translate(-50%,-50%);
        background: black;
        overflow: hidden;
    }
    .card h1{
        margin-top: 1.2rem;
        margin-left: 1.2rem;
        color: white;
    }
    .card .imgBx,
    .card .details {
        width: 100%;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        transition: .5s;
    }
    .card .imgBx {
        top: 0;
        left: 0;
    }
    .card:hover .imgBx {
        top: 0;
        left: -100%;
    }
    .card .imgBx img {
        width: 100%;
    }
    .card .details {
        background: black;
        top: 0;
        left: 100%;
        padding: 60px 30px;
    }
    .card:hover .details {
        top: 0;
        left: 0%;
    }

    .card .details h2 {
        color: #fff;
        text-align: center;
        margin: 0;
        padding: 0 0 10px;
        border-bottom: 2px solid #fff;
    
    }
    .card .details p {
        margin: 20px 0 0;
        color: #fff;
    }
    .win-cont{
        margin-left: 2%;
        width: 100%;
    }
   
    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
      }
      .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
      }
      .nav-down a svg{
        position: relative;
        width: 70px;
        height: 70px;
        display: inline-block;
        transform: translate(-50%);
      }
      #preloader {
        background-color: black;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }
    .preloader img{
        margin-left:47%;
        margin-top:25%;
        width: 100px;
        height: 100px;
    }
.card2-1{
    text-align: center;
    background-color: rgba(27, 179, 95, 0.75);
    height: 400px;
    width: 250px;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
  transition: all 0.3s ease-out;
}.card2-1:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  .card2-1:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card2-1:hover .overlay {
    transform: scale(4) translateZ(0);
  }
.card2-1 p , .card2-1 h2{
    color: white;
    padding: 1rem;
}

.spo-r1 , .spo-r2{
    background-color: rgba(0, 0, 0, 0.74);
    margin-bottom: 2%;
}
.sponsors-20 h1{
    margin: 2%;
    text-align: center;
    padding: 0.2%;
}
.slider{
    width: 90%;
    height: 300px;
    overflow :hidden;
    position: relative;
    margin: auto;
    margin-bottom: 10%;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.5);
}

.slider::before,.slider::after{
    content:'';
    position : absolute;
    width: 200px;
    height: 300px;
    background: linear-gradient(to right, white 0% , rgba(128, 5, 5, 0)100%);
    z-index: 2;
}
.slider::before{
    top: 0;
    left: 0;
}
.slider::after{
    top: 0;
    right: 0;
    transform: rotateZ(180deg);
}

.slider .slider-track{
    display: flex;
    width: calc(250px * 14);
    animation: scroll 40s infinite linear;
}
.slider .slide img{
    width: 220px;
    height: 300px;

}
@keyframes scroll {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(calc(-250px * 7));
    }
}

.console-container {
 position:absolute;
 font-family: Ropa Sans;
 font-style:normal;
font-weight:500;
font-size: 50px;
left: 50%;
justify-content: center;
 transform: translate(-50%, -50%);
}

.console-underscore {
 display:inline;
 position: relative;
 color: white;
}

.container {
 position: relative;
 text-align: center;
}

.mail-sm{
    color: white;
}

