*{
    width: 100%;
    padding: 0px;
    margin: 0px;
}
html, body {
    overflow-x:hidden;
    background-color: black;
}

#i1 ,#i2 ,#i3 , #i4 , #i5 , #i6{
    width: 250px;
    height: 250px;
    margin-left: 10%;
    padding: 2%;
    }
    

    .logo-cont img {
        padding: 10px;
        width: 120px;
        height: 60px;
    }
    
    .li-cont ul{
        display : flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: right;
        list-style: none;
        float: right;
    }
    .li-cont ul li p{
        color: white;
        text-decoration: none;
        padding: 10px;
    }
    .li-cont ul li{
        text-decoration:  none;
        padding: 10px;
        color: white;
    }
    .li-cont{
        align-items: right;
    }
    .nav-cont{
        display: flex;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.3);
        height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .nav-cont .icon {
        display: none;
        color: rgba(0, 0, 0, 0.3);
      }
      #bars{
          margin-top: 1rem;
          cursor: pointer; 
          margin-left: 70%;
      }
      button{
          cursor: pointer;
          border: 1px solid transparent;
          background-color: transparent;
      }
      
    
    @media only screen and (max-width: 600px) {
        .nav-down a svg{
            margin-left: 5%;
            margin-bottom: 8%;
        }
        .card{
            width: 300px;
            height: 400px;
        }
        #card1 {
            top: 44.8%;
            margin-left: 40%;
        }
        #card2{
            top: 51.2%;
            margin-left: 40%;
        }
        #card3{
            top: 57.6%;
            margin-left: 40%;
        }
        .win-cont{
            height: 2000px;
        }
        .social-text-center{
            float: center;
            margin-left: 33%;
        }
        .container{
            display: flex;
            flex-direction: column;
            padding-top: 1rem;
            padding-bottom: 2rem;
        }
        .nav-down{
            margin-top: 33rem;
            margin-left: 10rem;
        }
        .winners{
            height: 1800px;
        }
        #aftermovie{
            height: 464px;
        }
        #th1 ,#th3 ,#th2 {
            font-size: 23px;
            margin-left: 1rem;
        }
        
       #tp1 ,  #tp3 ,#tp2{
           margin-left: 1rem;
       }
        #coming1{
            width: 200px;
            height: 40px;
            left: 2rem;
            top: 10px;
        }
        #s1{
            position: absolute;
            width: 208px;
            height: 142px;
            left: 5rem;
        }
            
            #s2{
                position: absolute;
                width: 208px;
                height: 142px;
                top:220px;
                left: 5rem;
            }
            
            #s3{
                position: absolute;
                width: 208px;
                height: 142px;
                top:340px;
                left: 5rem;
            }
            
            #s4{
            position: absolute;
            width: 229px;
            height: 20px;
            top: 490px;
            left: 5rem;
            }
            
            #s5{
            position: absolute;
            width: 300px;
            height: 32px;
            top: 580px;
            left: 1.5rem;
            }
            
            #s6{
            position: absolute;
            width: 208px;
            height: 142px;
            top: 640px;
            left: 5rem;
            }
            
            #s7{
            position: absolute;
            width: 180px;
            height: 180px;
            top: 750px;
            left: 5rem;
            }
            
            #s8{
                position: absolute;
                width: 208px;
                height: 142px;
                top: 960px;
                left: 4.4rem;
            }
            #come{
                height: 241px;
                margin-top: 6rem;
            }
        
        .row0 , .row1{
            display: flex;
            flex-direction: column;
        }.col1{
            padding: 0px;
            margin-left: 0px;
        }
        .about{
            width: 100%;
            height: 624px;
        }
        .abhead , #w , #th ,#t ,#rewind , #spo ,#coming ,#win-title{
            font-weight: bolder;
            font-size: 30px;
            line-height: 58px;
            color: #FFFFFF;
            margin-left: 5%;
            margin-top: 4%;
            }
        .li-cont{ display:none;}
        .nav-cont .icon{float: right; display: block;}
        .nav-cont.responsive .icon{position: absolute;
            right: 0;
            top: 0;}
            .nav-cont.responsive{position:relative;}
        .nav-cont{float :none;  text-align: left;}
        .nav-cont .icon{padding: 20px;}
        
#img1{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-left: 15%;
    margin-top: 10%;
    }
    #win1 {
        position: absolute;
        width: 240px;
        height: 300px;
        left: 100px;
        top: 261px;
        background: rgba(27, 179, 95, 0.4);
        }
        #win2{
            position: absolute;
            width: 240px;
            height: 300px;
            left: 41px;
            top: 742px;
            background: rgba(27, 179, 95, 0.4);
            }
        #win3{
                position: absolute;
                width: 240px;
                height: 300px;
                left: 100px;
                top: 1228px;
                background: rgba(27, 179, 95, 0.4);
             }
             #w1{
                position: absolute;
                width: 200px;
                height: 200px;
                left: 42px;
                top: 161px;
                background: #FFFFFF;
                }
                
                #w2{
                position: absolute;
                width: 200px;
                height: 200px;
                left: 127px;
                top: 642px;
                background: #FFFFFF;
                }
                
                #w3{
                position: absolute;
                width: 200px;
                height: 200px;
                left: 42px;
                top: 1128px;
                background: #FFFFFF;
                }
    }
    @media only screen and (min-width: 600px){
        .nav-down a svg{
            margin-left: 50%;
            margin-top: 80%;
        }
        .card{
            width: 300px;
            height: 400px;
        }
        #card1 {
            top: 45.3%;
            margin-left: 40%;
        }
        #card2{
            top: 51.4%;
            margin-left: 40%;
        }
        #card3{
            top: 57.6%;
            margin-left: 40%;
        }
        .win-cont{
            height: 2000px;
        }
        .social-text-center{
            float: right;
        }
        .winners{
            height: 1400px;
        }
        .container{
            display: flex;
            flex-direction: column;
            padding-top: 2rem;
            padding-bottom: 3rem;
        }
        
        #aftermovie{
            height: 564px;
        }
        #th1 ,#th3 ,#th2 {
            font-size: 25px;
            margin-left: 1rem;
        }
        
       #tp1 ,  #tp3 ,#tp2{
           margin-left: 1rem;
       }
        
        #come{
            height: 341px;
        }
        #s1{
            position: absolute;
            width: 208px;
            height: 142px;
            left: 46px;
            top: 285px;
            }
            
            #s2{
                position: absolute;
                width: 208px;
                height: 142px;
                left: 254px;
                top: 267px;
            }
            
            #s3{
                position: absolute;
                width: 208px;
                height: 142px;
                left: 472px;
                top: 264px;
            }
            
            #s4{
            position: absolute;
            width: 229px;
            height: 20px;
            left: 60px;
            top: 555px;
            }
            
            #s5{
            position: absolute;
            width: 330px;
            height: 32px;
            left: 308px;
            top: 545px;
            }
            
            #s6{
            position: absolute;
            width: 208px;
            height: 142px;
            left: 76px;
            top: 696px;
            }
            
            #s7{
            position: absolute;
            width: 180px;
            height: 180px;
            left: 262px;
            top: 667px;
            }
            
            #s8{
                position: absolute;
                width: 208px;
                height: 142px;
                left: 380px;
                top: 684px;
            }
        .row0 , .row1{
            display: flex;
            flex-direction: column;
        }.col1{
            padding: 0px;
            margin-right: 2rem;
        }
        
        #bars{
            display: none;
        }
        #win1 {
            position: absolute;
            width: 500px;
            height: 200px;
            left: 181px;
            top: 200px;
            background: rgba(27, 179, 95, 0.4);
            }
            #win2{
                position: absolute;
                width: 500px;
                height: 200px;
                left: 51px;
                top: 653px;
                background: rgba(27, 179, 95, 0.4);
                }
            #win3{
                    position: absolute;
                    width: 500px;
                    height: 200px;
                    left: 181px;
                    top: 1170px;
                    background: rgba(27, 179, 95, 0.4);
                 }
                 #w1{
                    position: absolute;
                    width: 240px;
                    height: 240px;
                    left: 62px;
                    top: 161px;
                    background: #FFFFFF;
                    }
                    
                    #w2{
                    position: absolute;
                    width: 240px;
                    height: 240px;
                    left: 417px;
                    top: 612px;
                    background: #FFFFFF;
                    }
                    
                    #w3{
                    position: absolute;
                    width: 240px;
                    height: 240px;
                    left: 64px;
                    top: 1128px;
                    background: #FFFFFF;
                    }
#img1{
    position: absolute;
    width: 400px;
    height: 400px;
    margin-left: 20%;
    margin-top: 10%;
    }
    
    .about{
        width: 100%;
        height: 724px;
    }
        .li-cont ul li{
            align-items: right;
            color: white;
        }
        
        .li-cont{ 
            margin-left: 10%;
        }
        .abhead , #w ,#th ,#t,#rewind , #spo ,#coming ,#win-title{
            font-weight: bolder;
            font-size: 40px;
            line-height: 70px;
            color: #FFFFFF;
            margin-left: 8%;
            margin-top: 4%;
            }
            #coming1{
                width: 217px;
                height: 40px;
                left: 200px;
                top: 55px;
            }
            
    }
    @media only screen and (min-width: 768px){
        .nav-down a svg{
            margin-left: 5%;
            margin-top: 3%;
        }
        .iframe-container{
            margin: 12%;
        }
        .iframe-container iframe{
            width: 70%;
            height: 70%;
        }
        .card{
            width: 240px;
            height: 360px;
        }
        .win-row{
            display: flex;
            flex-direction: row;
        }
        #card1 {
            top: 47%;
            margin-left: 20%;
        }
        #card2{
            top:47%;
            margin-left: 50%;
        }
        #card3{
            top: 47%;
            margin-left: 80%;
        }
        .win-cont{
            height: 720px;
        }
        .social-text-center{
            float: right;
        }
        .nav-down{
            margin-left: 45%;
            margin-top: 51%;
        }
        .winners{
            height: 1400px;
        }
        .container{
            display: flex;
            flex-direction: row;
            padding-top: 2rem;
            padding-bottom: 4rem;
        }
        #aftermovie{
            height: 824px;
        }
        #th1 ,#th3 ,#th2 {
            font-size: 30px;
            margin-left: 1rem;
        }
        
       #tp1 ,  #tp3 ,#tp2{
           margin-left: 1rem;
           font-size: 15px;
       }
        .row{
            display: flex;
            flex-direction: row;
        }.col1{
            padding: 0px;
            margin: 0px;
        }
        
#win1 {
    position: absolute;
    width: 500px;
    height: 200px;
    left: 221px;
    top: 261px;
    background: rgba(27, 179, 95, 0.4);
    }
    #win2{
        position: absolute;
        width: 500px;
        height: 200px;
        left: 61px;
        top: 712px;
        background: rgba(27, 179, 95, 0.4);
        }
    #win3{
            position: absolute;
            width: 500px;
            height: 200px;
            left: 221px;
            top: 1228px;
            background: rgba(27, 179, 95, 0.4);
         }
         #w1{
            position: absolute;
            width: 300px;
            height: 300px;
            left: 62px;
            top: 161px;
            background: #FFFFFF;
            }
            
            #w2{
            position: absolute;
            width: 300px;
            height: 300px;
            left: 407px;
            top: 612px;
            background: #FFFFFF;
            }
            
            #w3{
            position: absolute;
            width: 300px;
            height: 300px;
            left: 64px;
            top: 1128px;
            background: #FFFFFF;
            }
        .li-cont{ 
            margin-left: 20%;
        }
       
        .abhead ,#w ,#th, #t ,#rewind , #spo ,#coming ,#win-title{
            font-weight: bolder;
            font-size: 60px;
            line-height: 80px;
            color: #FFFFFF;
            margin-left: 10%;
            }
        
#img1{
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 30%;
    margin-top: 5%;
    }
    .about{
        width: 100%;
        height: 850px;
    }
    #come{
        height: 441px;
    }
    #s1{
        position: absolute;
        width: 228px;
        height: 122px;
        left: 96px;
        top: 285px;
        }
        
        #s2{
            position: absolute;
            width: 228px;
            height: 122px;
            left: 320px;
            top: 267px;
        }
        
        #s3{
            position: absolute;
            width: 228px;
            height: 122px;
            left: 562px;
            top: 264px;
        }
        
        #s4{
        position: absolute;
        width: 270px;
        height: 25px;
        left: 150px;
        top: 555px;
        }
        
        #s5{
        position: absolute;
        width: 280px;
        height: 52px;
        left: 478px;
        top: 545px;
        }
        
        #s6{
        position: absolute;
        width: 298px;
        height: 162px;
        left: 106px;
        top: 696px;
        }
        
        #s7{
        position: absolute;
        width: 200px;
        height: 200px;
        left: 402px;
        top: 657px;
        }
        
        #s8{
            position: absolute;
            width: 290px;
            height: 140px;
            left: 530px;
            top: 684px;
        }
        #coming1{
            width: 317px;
            height: 56px;
            left: 390px;
            top: 120px;
        }
    }
    #dropdown{ display: none;}
.landingpage{
position: relative;
background-image: url("./Images/pexels-max-deroin-51415.jpg");
background-repeat: no-repeat;
max-width: 100%;
background-size: cover;

    }
    #th1 , #th2 , #th3 ,#tp1 , #tp2 , #tp3{
        color: white;
    }
    @media only screen and (min-width: 1200px) {
        .nav-down a svg{
            margin-left: 5%;
            margin-bottom: 8%;
        }
        .iframe-container iframe{
            width: 70%;
            height: 70%;
        }
        .iframe-container{
            margin: 12%;
        }
        .card{
            width: 300px;
            height: 400px;
        }
        #card1 {
            top: 48%;
            margin-left: 20%;
        }
        #card2{
            top: 48%;
            margin-left: 50%;
        }
        #card3{
            top: 48%;
            margin-left: 80%;
        }
        .win-cont{
            height: 900px;
        }
        .social-text-center{
            float: right;
        }
        #img1{
            position: absolute;
            width: 600px;
            height: 600px;
            margin-left: 30%;
            margin-top: 5%;
            }
        .nav-down{
            margin-left: 45%;
            margin-top: 58%;
        }
        .container{
            display: flex;
            flex-direction: column;
        }
        .row0 , .row1 , .row2{
            display: flex;
            flex-direction: row;
        }
        #th1 ,#th3 ,#th2 {
            font-size: 45px;
            margin-left: 1rem;
        }
        
       #tp1 ,  #tp3 ,#tp2{
           margin-left: 1rem;
           font-size: 25px;
       }
        #come{
            height: 500px;
        }
        #s1{
            position: absolute;
            width: 328px;
            height: 182px;
            left: 96px;
            top: 285px;
            }
            
            #s2{
                position: absolute;
                width: 328px;
                height: 182px;
                left: 514px;
                top: 267px;
            }
            
            #s3{
                position: absolute;
                width: 328px;
                height: 182px;
                left: 932px;
                top: 264px;
            }
            
            #s4{
            position: absolute;
            width: 409px;
            height: 31.94px;
            left: 250px;
            top: 555px;
            }
            
            #s5{
            position: absolute;
            width: 430px;
            height: 72px;
            left: 778px;
            top: 519px;
            }
            
            #s6{
            position: absolute;
            width: 328px;
            height: 182px;
            left: 156px;
            top: 696px;
            }
            
            #s7{
            position: absolute;
            width: 300px;
            height: 300px;
            left: 592px;
            top: 637px;
            }
            
            #s8{
                position: absolute;
                width: 328px;
                height: 182px;
                left: 960px;
                top: 684px;
            }
        
        .row{
            display: flex;
            flex-direction: row;
        }.col{
            padding: 0px;
            margin-left: 0px;
        }
        .landingpage{
            height: 1024px;
        }
        .li-cont{ 
            margin-left: 50%;
        }
        
        .abhead , #w , #th ,#t ,#rewind , #spo ,#coming , #win-title{
            font-weight: bold;
            font-size: 80px;
            line-height: 117px;
            color: #FFFFFF;
            margin-left: 20%;
            margin-top: 4%;
        }
        .about{
            width: 100%;
            height: 924px;
        }
        
#win1 {
    position: absolute;
    width: 1000px;
    height: 300px;
    left: 377px;
    top: 261px;
    background: rgba(27, 179, 95, 0.4);
    }
    #win2{
        position: absolute;
        width: 1000px;
        height: 300px;
        left: 51px;
        top: 712px;
        background: rgba(27, 179, 95, 0.4);
        }
    #win3{
            position: absolute;
            width: 1000px;
            height: 300px;
            left: 381px;
            top: 1228px;
            background: rgba(27, 179, 95, 0.4);
         }
         #w1{
            position: absolute;
            width: 400px;
            height: 400px;
            left: 62px;
            top: 161px;
            background: #FFFFFF;
            }
            
            #w2{
            position: absolute;
            width: 400px;
            height: 400px;
            left: 977px;
            top: 612px;
            background: #FFFFFF;
            }
            
            #w3{
            position: absolute;
            width: 400px;
            height: 400px;
            left: 64px;
            top: 1128px;
            background: #FFFFFF;
            }
            #coming1{
                width: 317px;
                height: 56px;
                left: 590px;
                top: 215px;
            }
            #aftermovie{
                height: 1024px;
            }
        
      }
      @media only screen and (max-width: 1200px) {
        .landingpage{
            height: 700px;
        }
  }

.about{
    position: relative;
}

.winners{
    position: relative;
    width: 100%;
}

.abhead{
    margin-left: 0%;
}
.overview{
    position: relative;
    width: 1440px;
    height: 512px;
}

.theme{
    position: relative;
    width: 100%;
    
}

.sponsors{
    position: relative;
    width: 100%;
    height: 1024px;
}

.aftermovie{
    position: relative;
    width: 100%;
}

.come{
    background-color: black;
    position: relative;
    width: 100%;
}

body{
    background-image: url('./Images/bg.png');
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    width: 100%;
}


h1,h2{
    color: white;
}

#n1{
position: absolute;
left: 432px;
top: 5px;
color: #FFFFFF;
}

#n2{
position: absolute;
left: 590px;
top: 5px;
color: #FFFFFF;
}

#n3{
position: absolute;
left: 728px;
top: 5px;
color: #FFFFFF;
}

#n4{
position: absolute;
left: 914px;
top: 5px;
color: #FFFFFF;
}

#n5{
position: absolute;
left: 1107px;
top: 5px;
color: #FFFFFF;
}

#n6{
position: absolute;
left: 1277px;
top: 5px;
color: #FFFFFF;
}


#coming1{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    color: #1BB35F;
}
#coming1 h3{
    padding: 2%;
}

.come img{
    width: 200px;
    margin-left: 30%;
}
.last_box{
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0px;
    top: 574px;
    padding: 30px;
    background:  rgba(27, 179, 95, 1);
    
}
#img_last
    {
    
    width: 247px;
    height:247px; 
    }
    
#last_abt
    {
    
    width: 526px;
    height: 175px;
    left: 76px;
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    
    color: #FFFFFF;
    }
    section{
        background-color: rgba(27,179,95,0.7);
    }
    h5{
        margin-top: 2rem;
        padding: 1rem;
        color: white;
    }

    a:link{
        color: white;
        text-decoration: none;
    }
    .list-quick-links li a{
        color: white;
    }
    .list-quick-links li {
        list-style-type: none;
    }
    a:hover {
        color: rgb(198, 219, 193);
        text-decoration: none;
    }
    .social-text-center{
        display: flex;
        flex-direction: row;
        width: 30%;
        margin-bottom: 10%;
    }
    .social-text-center li a{
        color: white;
    }
    .hide{
        overflow: hidden;
    }
    .hide span{
        transform: translateY(100%);
        display: inline-block;
    }
    .card {
        position: absolute;
        top: 48%;
        transform: translate(-50%,-50%);
        background: black;
        overflow: hidden;
    }
    .card h1{
        margin-top: 1.2rem;
        margin-left: 1.2rem;
        color: white;
    }
    .card .imgBx,
    .card .details {
        width: 100%;
        height: 100%;
        position: absolute;
        box-sizing: border-box;
        transition: .5s;
    }
    .card .imgBx {
        top: 0;
        left: 0;
    }
    .card:hover .imgBx {
        top: 0;
        left: -100%;
    }
    .card .imgBx img {
        width: 100%;
    }
    .card .details {
        background: black;
        top: 0;
        left: 100%;
        padding: 60px 30px;
    }
    .card:hover .details {
        top: 0;
        left: 0%;
    }
    .card .details h2 {
        color: #fff;
        text-align: center;
        margin: 0;
        padding: 0 0 10px;
        border-bottom: 2px solid #fff;
    
    }
    .card .details p {
        margin: 20px 0 0;
        color: #fff;
    }
    .win-cont{
        width: 100%;
    }
   
    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
      }
      .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
      }
      .nav-down a svg{
        position: relative;
        width: 70px;
        height: 70px;
        display: inline-block;
        transform: translate(-50%);
      }
