*{
    width: 100%;
    padding: 0px;
    margin: 0px;
    }

#i1{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 118px;
    top: 273px;
    }
    
    #i2{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 573px;
    top: 273px;
    }
    
    #i3{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1028px;
    top: 273px;
    }
    
    #i4{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 118px;
    top: 646px;
    }
    
    #i5{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 573px;
    top: 646px;
    }
    
    #i6{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 1028px;
    top: 646px;
    }
    .logo-cont img {
        width: 120px;
        height: 60px;
    }
    .li-cont ul{
        display : flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: right;
        list-style: none;
        
    }
    .li-cont ul li p{
        color: white;
        text-decoration: none;
        padding: 10px;
    }
    .li-cont ul li{
        text-decoration:  none;
        padding: 10px;
        color: white;
    }
    .li-cont{
        align-items: right;
    }
    .nav-cont{
        display: flex;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.3);
        height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .nav-cont .icon {
        display: none;
        color: rgba(0, 0, 0, 0.3);
      }
      #bars{
          border: none;
          background-color: rgba(0, 0, 0, 0.3);
      }
    @media only screen and (max-width: 600px) {
        .li-cont{ display:none;}
        .nav-cont .icon{float: right; display: block;}
        .nav-cont.responsive .icon{position: absolute;
            right: 0;
            top: 0;}
            .nav-cont.responsive{position:relative;}
        .nav-cont{float :none;  text-align: left;}
        .nav-cont .icon{padding: 20px;}
        
    }
    
    @media only screen and (min-width: 600px){
        .dropdown-content{
            display: none;
    
        }
        .li-cont ul li{
            align-items: right;
            color: white;
        }
    }
.landingpage{
position: relative;
background-image: url("images/pexels-max-deroin-51415.jpg");
background-repeat: no-repeat;
max-width: 100%;
background-size: cover;

    }
    @media only screen and (min-width: 1200px) {
        .landingpage{
            height: 1024px;
        }
      }
      @media only screen and (max-width: 1200px) {
        .landingpage{
            height: 700px;
        }
  }


.about{
    position: relative;
width: 1440px;
height: 1024px;
}

.winners{
    position: relative;
width: 1400px;
height: 2000px;
}

.overview{
    position: relative;
width: 1440px;
height: 512px;

}

.theme{
    position: relative;
width: 1440px;
height: 1024px;
}

.sponsors{
    position: relative;
width: 1440px;
height: 1024px;
}

.aftermovie{
    position: relative;
width: 1440px;
height: 1024px;
}

.come{
    background: rgba(5, 5, 5, 1);
    position: relative;
width: 1440px;
height: 641px;
}

body{
    background-image: url('images/pexels-markus-spiske-1089438.jpg');
    background-color: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; 
    width: 100%;
}


h1,h2{
    color: white;
    padding: 20px;
    text-align: center;
}

#n1{
position: absolute;
left: 432px;
top: 5px;
color: #FFFFFF;
}

#n2{
position: absolute;
left: 590px;
top: 5px;
color: #FFFFFF;
}

#n3{
position: absolute;
left: 728px;
top: 5px;
color: #FFFFFF;
}

#n4{
position: absolute;
left: 914px;
top: 5px;
color: #FFFFFF;
}

#n5{
position: absolute;
left: 1107px;
top: 5px;
color: #FFFFFF;
}

#n6{
position: absolute;
left: 1277px;
top: 5px;
color: #FFFFFF;
}



#img1{
position: absolute;
width: 1000px;
height: 1000px;
left: 220px;
top: -144px;
}

.abhead{
font-weight: bold;
font-size: 80px;
line-height: 117px;
color: #FFFFFF;
}

#a1{
position: absolute;
width: 399px;
height: 117px;
left: 82px;
top: 50px;
}

#a2{
position: absolute;
width: 931px;
height: 117px;
left: 82px;
top: 150px;
}

#w{
position: absolute;
width: 652px;
height: 117px;
left: 51px;
top: -4px;
font-weight: bold;
font-size: 80px;
line-height: 117px;
}

#w1{
position: absolute;
width: 400px;
height: 400px;
left: 62px;
top: 161px;
background: #FFFFFF;
}

#w2{
position: absolute;
width: 400px;
height: 400px;
left: 977px;
top: 612px;
background: #FFFFFF;
}

#w3{
position: absolute;
width: 400px;
height: 400px;
left: 64px;
top: 1128px;
background: #FFFFFF;
}

#win1{
position: absolute;
width: 1000px;
height: 300px;
left: 377px;
top: 261px;
background: rgba(27, 179, 95, 0.4);
}

#win2{
position: absolute;
width: 1000px;
height: 300px;
left: 51px;
top: 712px;
background: rgba(27, 179, 95, 0.4);
}

#win3{
position: absolute;
width: 1000px;
height: 300px;
left: 381px;
top: 1228px;
background: rgba(27, 179, 95, 0.4);
}

#t{
position: absolute;
width: 879px;
height: 117px;
left: 68px;
top: 73px;
font-weight: bold;
font-size: 80px;
line-height: 117px;
color: #FFFFFF;
}

#rewind{
position: absolute;
width: 822px;
height: 117px;
left: 75px;
top: 71px;
font-weight: bold;
font-size: 80px;
line-height: 117px;
color: #FFFFFF;
}

#spo{
position: absolute;
width: 613px;
height: 117px;
left: 95px;
top: 80px;
font-weight: bold;
font-size: 80px;
line-height: 117px;
color: #FFFFFF;
}

#coming{
position: absolute;
width: 586px;
height: 113px;
left: 399px;
top: 175px;
font-weight: bold;
font-size: 80px;
line-height: 112px;
color: #FFFFFF;
}

#coming1{
    position: absolute;
    width: 317px;
    height: 56px;
    left: 590px;
    top: 415px;
    font-weight: bold;
    font-size: 30px;
    line-height: 56px;
    color: #1BB35F;
}

#s1{
position: absolute;
width: 328px;
height: 182px;
left: 126px;
top: 285px;
}

#s2{
    position: absolute;
    width: 328px;
    height: 182px;
    left: 544px;
    top: 267px;
}

#s3{
    position: absolute;
    width: 328px;
    height: 182px;
    left: 962px;
    top: 264px;
}

#s4{
position: absolute;
width: 409px;
height: 31.94px;
left: 250px;
top: 555px;
}

#s5{
position: absolute;
width: 430px;
height: 72px;
left: 778px;
top: 519px;
}

#s6{
position: absolute;
width: 328px;
height: 182px;
left: 156px;
top: 696px;
}

#s7{
position: absolute;
width: 300px;
height: 300px;
left: 592px;
top: 637px;
}

#s8{
    position: absolute;
    width: 328px;
    height: 182px;
    left: 960px;
    top: 684px;
}

.footer{
position: absolute;
width: 1440px;
height: 383px;
left: 0px;
top: 641px;
background: #1BB35F;
}

#th1{

font-weight: bold;
font-size: 50px;
line-height: 59px;
color: #FFFFFF;
}

#tp1{

font-weight: normal;
font-size: 40px;
line-height: 47px;
color: #FFFFFF;
}

#th2{
    
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    }

 #tp2{
    
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    }

#th3{
    
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    }
        
#tp3{
    
    font-weight: normal;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    }
    .last_box{
        position: absolute;
    width: 100%;
    height: 450px;
    left: 0px;
    top: 574px;
    padding: 30px;
    background:  rgba(27, 179, 95, 1);
    
    }
    #img_last
    {
    
    width: 247px;
    height:247px; 
    }
    
    #last_abt
    {
    
    width: 526px;
    height: 175px;
    left: 76px;
    
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    
    color: #FFFFFF;
    }